{% extends "blog/base.html" %}
{% block content %}
<body>
    <ul class="list-unstyled">
        <li><h3>University name:</h3></li>
        <li><h1>Daffodil International University</h1></li>
  <p>DIU Green Campus is a movement, the first of its kind in Bangladesh, which was launched in 2002 by Daffodil International University (DIU). The initiatives of this movement are helping to shape our university as a model environmental community where academic programs and environmentally responsible behavior by all stakeholders go hand in hand. This movement aims to promote eco-friendly ‘green projects’ in order to ensure a greener, cleaner, safer and healthier campus for us to work and live in.</p>


</ul>
    <br/>
    <h4>Explore Permanent campus</h4><br/>
    <iframe width="700" height="315" src="https://www.youtube.com/embed/3SJf1Ibnblc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </iframe>
    <br/>
    <br/>
    <h3>Campus Info:</h3>
     <p><h5>Purpose:</h5>

DIU Green Campus aspires to take the lead in revisiting the reasons for contemporary environmental crises, to rethink how we can improve our environmental culture through newly developed paradigms to tackle burning environmental issues locally, nationally and globally.
This Green Campus movement also aims to involve students and faculty in teaming up to transform their innovative ideas into scientific research, so that they can contribute not only to knowledge and education but also to positive and productive changes in our lives in general.
Caring for the environment, creativity in living with our environment, customizing our lifestyles to support the environment for continuity, conservation and sustainability are some of the tenets of the DIU Green Campus movement.</p>
</body>
{% endblock content %}